.playing-card {
    padding: 0;
    border: 0;
    margin: 3px;
    height: 140px;
    width: 100px;
}

.playing-card img {
    height: 100%;
    width: 100%;
}

.cards-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}