.container {
    display: flex;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-players {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}